<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/viewSchedule.css">
    <title>Schedule</title>
</head>
<body>
    <div class="backdrop"></div>
    <header class="main-header">
        <button class="toggle-button">
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
        </button>
        <p class="main-logo">noteMaker</p>
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item"><a href="/makenotes" class="main-nav__item__link">Make Notes</a></li>
                <li class="main-nav__item"><a href="/todo" class="main-nav__item__link">Todo List</a></li>
                <li class="main-nav__item"><a href="/scheduleMaker" class="main-nav__item__link">Schedule Maker</a></li>
                <%if(isAuthenticated){%>
                    <li class="main-nav__item"><a href="/logout" class="main-nav__item__link">Logout</a></li>
                <%}else{%>
                    <li class="main-nav__item"><a href="/login" class="main-nav__item__link">Login</a></li>
                    <li class="main-nav__item"><a href="/signup" class="main-nav__item__link">Signup</a></li>
                <%}%>
            </ul>
        </nav>
        <nav class="mobile-nav">
            <ul class="mobile-nav__items">
                <li class="mobile-nav__item">
                    <a href="/makenotes">Make Notes</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="/todo">Todo List</a>
                </li>
                <li class="mobile-nav__item mobile-nav__item--cta">
                    <a href="/schedulemaker">Schedule Maker</a>
                </li>
                <%if(isAuthenticated){%>
                    <li class="mobile-nav__item mobile-nav__item--cta">
                        <a href="/logout">Logout</a>
                    </li>
                <%}else{%>
                    <li class="mobile-nav__item mobile-nav__item--cta">
                        <a href="/login">Login</a>
                    </li>  
                    <li class="mobile-nav__item mobile-nav__item--cta">
                        <a href="/signup">Signup</a>
                    </li> 
                <%}%>   
            </ul>
        </nav>
    </header>
    <div class="schedule-container">
        <%if(schedule.length<=0){%>
            <p class="no-schedule">You have no saved schedules...</p>
        <%}else{%>
        <p class="schedule-container-title">Schedules</p>
            <%schedule.map(sch=>{%>
                <ul class="schedule-container-list" onclick="view(this)">
                    <input name="schId" value="<%=sch._id%>" type="hidden">
                    <li class="schedule-container-list-title">Title: <%=sch.title%></li>
                    <li class="schedule-container-list-time"><%=sch.createdAt.toString().split("GMT")[0]%></li>
                    <button class="schedule-container-list-delete" onclick="deleteSchedule(this)">Delete</button>
                </ul>
            <%})%>
        <%}%>
    </div>
    <%schedule.map(sch=>{%>
    <div class="schedule-maker__table"  id="<%=sch._id%>">
        <table class="schedule-maker__main-table">
            <thead id="table-header" name="header">
              <td colspan="7" class="schedule-maker__table-header">Weekly Schedule</td>
            </thead>
            <tbody>
              <tr id="Sunday">
                <td class="schedule-maker__table__row-header">Sunday</td>
                <%sch.items.map(item=> { %>
                    <%if(item.day==="Sunday"){%>
                        <td class="<%if(item.important){%>important<%}%>"><p><%=item.title-%><br></p><%=item.startTime%>-<%=item.endTime%><p class="schedule-item-description"> : <%=item.description%></p><%}%></td>
                <%})%> 
              </tr>
              <tr id="Monday">
                <td class="schedule-maker__table__row-header">Monday</td>
                <%sch.items.map(item=> { %>
                    <%if(item.day==="Monday"){%>
                        <td class="<%if(item.important){%>important<%}%>"><p><%=item.title-%><br></p><%=item.startTime%>-<%=item.endTime%><p class="schedule-item-description"> : <%=item.description%></p><%}%></td>
                <%})%> 
              </tr>
              <tr id="Tuesday">
                <td class="schedule-maker__table__row-header">Tuesday</td>
                <%sch.items.map(item=> { %>
                    <%if(item.day==="Tuesday"){%>
                        <td class="<%if(item.important){%>important<%}%>"><p><%=item.title-%><br></p><%=item.startTime%>-<%=item.endTime%><p class="schedule-item-description"> : <%=item.description%></p><%}%></td>
                <%})%> 
              </tr>
              <tr id="Wednesday">
                <td class="schedule-maker__table__row-header">Wednesday</td>
                <%sch.items.map(item=> { %>
                    <%if(item.day==="Wednesday"){%>
                        <td class="<%if(item.important){%>important<%}%>"><p><%=item.title-%><br></p><%=item.startTime%>-<%=item.endTime%><p class="schedule-item-description"> :<%=item.description%></p><%}%></td>
                <%})%> 
              </tr>
              <tr id="Thursday">
                <td class="schedule-maker__table__row-header">Thursday</td>
                <%sch.items.map(item=> { %>
                    <%if(item.day==="Thursday"){%>
                        <td class="<%if(item.important){%>important<%}%>"><p><%=item.title-%><br></p><%=item.startTime%>-<%=item.endTime%><p class="schedule-item-description"> : <%=item.description%></p><%}%></td>
                <%})%> 
              </tr>
              <tr id="Friday">
                <td class="schedule-maker__table__row-header">Friday</td>
                <%sch.items.map(item=> { %>
                    <%if(item.day==="Friday"){%>
                        <td class="<%if(item.important){%>important<%}%>"><p><%=item.title-%><br></p><%=item.startTime%>-<%=item.endTime%><p class="schedule-item-description"> : <%=item.description%></p><%}%></td>
                <%})%> 
              </tr>
              <tr id="Saturday">
                <td class="schedule-maker__table__row-header">Saturday</td>
                <%sch.items.map(item=> { %>
                    <%if(item.day==="Saturday"){%>
                        <td class="<%if(item.important){%>important<%}%>"><p><%=item.title-%> </p><%=item.startTime%>-<%=item.endTime%><p class="schedule-item-description"> : <%=item.description%></p><%}%></td>
                <%})%> 
              </tr>
            </tbody>
          </table>
    </div>
    <%})%>
    <script src= "/js/shared.js"></script>
    <script src="/js/viewSchedule.js"></script>
</body>
</html>